{% extends 'base.html' %}
{% block title %}Home{% endblock %}


{% block body %}



    <!-- Masthead-->
    <header class="masthead" style="background-image: url({{ url_for('static' , filename='images/bg-masthead.jpg') }});">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Browse your favourite gene!</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <!-- <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN"> -->
                        <!-- </form> Gene input -->
                        <!-- <div class="row">
                            <form method="POST" action="/search">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="geneId" type="text"
                                        name="gene_input" placeholder="Gene of interest" />
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                                </div>
                            </form>
                        </div> -->

                        <!-- Include jQuery and jQuery UI libraries -->
                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

                        <!-- Display flash messages -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" style="text-align: center; color: red;">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="d-flex justify-content-center">
                            <form method="POST" action="{{ url_for('search') }}" style="display: flex; flex-direction: column; align-items: center;">
                                <!-- Choose the specie -->
                                <label for="species" style="font-size: 30px; padding-top: 20px;">Select the species first:</label><br>
                                <select id="species" name="species" style="width: 100px; height: 40px; font-size: 18px; text-align: center;">
                                    <option value="human" selected>Human</option>
                                    <option value="mouse">Mouse</option>
                                </select><br>

                                <label for="gene_name" style="font-size: 30px;">Gene name:</label><br>
                                <input id="geneName" name="gene_name" style="font-size: 60px; width: 400px; height: 100px; text-align: centre;" required><br>
                                
                        <!-- JavaScript to initialize autocomplete -->
                        <script>
                            $(function() {
                                var geneNamesBySpecies = {{ gene_names_by_species|tojson|safe }}; // Render the gene_names_by_species variable from Flask
                
                                $("#species").on('change', function() {
                                    var selectedSpecies = $(this).val();
                                    var geneNames = geneNamesBySpecies[selectedSpecies];
                                    if (geneNames) {
                                        $("#geneName").autocomplete({
                                            source: geneNames,
                                            select: function(event, ui) {
                                                if ($.inArray(ui.item.value, geneNames) == -1) {
                                                    event.preventDefault();
                                                }
                                            }
                                        });
                                    }
                                }).change();
                            });
                        </script>
                
                        
                                <input type="submit" class="text-center" value="Submit" style="width: 200px; height: 50px; background-color: blue; color: white; border: none; border-radius: 5px;">
                            </form>
                        </div>

                        


    </header>
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>Uniprot</h3>
                        <p class="lead mb-0">UniProt provides detailed protein sequence and function information!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>NCBI</h3>
                        <p class="lead mb-0">NCBI is a repository for genomic and sequence data</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>ProteinDataBank(PDB)</h3>
                        <p class="lead mb-0">PDB archives 3D structural data of biological molecules.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>STRING</h3>
                        <p class="lead mb-0">STRING is a database for exploring known and predicted protein-protein
                            interactions.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>GEO</h3>
                        <p class="lead mb-0">GEO stores high-throughput gene expression data.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>AlphaFold</h3>
                        <p class="lead mb-0">AlphaFold predicts 3D protein structures</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url({{url_for('static', filename='images/bg-showcase-1.jpg')}});"></div>                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Find protein information!</h2>
                    <p class="lead mb-0">Explore the predicted structures of proteins with Alphafold
                        for a deeper understanding of their functions and mechanisms.Browse through PDB to access
                        detailed 3D structures of proteins and nucleic acids, visualizing the building blocks of
                        life.Use UniProt for comprehensive information about protein sequences, functions, and the role
                        they play in health and
                        disease.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img"
                style="background-image: url({{url_for('static', filename='images/bg-showcase-2.jpg')}});"></div>                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                    <h2>Discover Genetic Insights</h2>
                    <p class="lead mb-0">Search the NCBI databases to uncover a wealth of genetic information, from gene
                        sequences to molecular pathways.
                    
                    
                    
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url({{url_for('static', filename='images/bg-showcase-3.jpg')}});"></div>                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Discover Protein Connections and Expression data</h2>
                    <p class="lead mb-0">Use STRING to see how proteins interact with each other, painting a picture of
                        cellular processes and pathways.With GEO, access a vast repository of high-throughput genetic
                        data to see how genes are expressed across different
                        conditions and species.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Developers</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static' , filename = 'images/testimonials-2.jpg')}}" alt="..." />
                        <h5>Estel Martín</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
                        <h5>Martín Suarez</h5>
                        <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of
                            super nice landing pages."</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="..." />
                        <h5>Javier Herranz</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to
                            us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
                    <!-- Bootstrap core JS-->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
                    <!-- Core theme JS-->
                    <script src= {{ url_for}}></script>
                    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
                    <!-- * *                               SB Forms JS                               * *-->
                    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
                    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
                    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
                    
                    {% endblock %}

