{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<form class="form-signin text-center" action="{{ url_for('login') }}" method="post">
  {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
    <div class="form-floating mb-1">
      {{ form.email(class_="form-control") }}
      <label for="email">Email address</label>
      {% set emailerror = form.errors.get('email') %}
        {% if emailerror %}
           <div class="text-danger h6">{{ emailerror[0] }}</div>
        {% endif %}
  </div>
  <div class="form-floating mb-3">
      {{ form.password(class_="form-control") }}
      <label for="password">Password</label>
  </div>
  {% if loginerror %}
     <div class="text-danger h6">{{ loginerror }}</div>
  {% endif %}
    {{ form.submit(class_="btn btn-lg btn-primary") }}
    
</form>
{% endblock %}