{% extends 'base.html' %}
{% block title %}User space{% endblock %}

{% block body %}
<form class="form-signin text-center" action="{{ url_for('create_project') }}" method="post">
  <h1 class="h3 mb-3 fw-normal" style="margin-top: 50px;"><b> Welcome, {{ user_name }}</b></h1>

  <h2 class="h3 mb-3 fw-normal">Create a new project</h2>

  {{ form.hidden_tag() }}
  <div class="form-floating mb-1 col-md-6 mx-auto">
    {{ form.project_name(class_="form-control") }}
    <label for="project_name">Project name</label>
  </div>  
  <div class="form-floating mb-1 col-md-6 mx-auto pt-0">
    {{ form.description(class_="form-control") }}
    <label for="description">Description</label>
  </div>
  {{ form.submit(class_="btn btn-lg btn-primary", value="Create Project") }} 
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'userspace-success' %}
                <div class="alert alert-success text-center mb-3" >
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}


<!-- Logout button -->
<form action="{{ url_for('logout') }}" method="post" class="text-center">
  <button type="submit" class="btn btn-lg btn-secondary">Logout</button>
</form>

<div class="container-sm">
  <div class="project-box">
  <h2 class="h2 mb-3 fw-normal"><strong>Find below your projects</strong></h2>
  <div class="row">
    {% for project in projects %}
      <div class="col-md-4">
        <div class="card bg-lightblue mb-3">
          <div class="card-header">
            <h3 class="card-title text-center">
              {{ project.project_name }}
              <form action="{{ url_for('delete_project', project_id=project.id) }}" method="post" class="d-inline">
                <input type="submit" class="btn btn-light btn-sm" value="Delete">
              </form>
            </h3>
          </div>
          <div class="card-body">
            <p class="card-text">{{ project.description }}</p>
            <h5 class="card-title">Genes:</h5>
            <ul>
              {% for gene in project.genes_projects %}
                <li><a href="{{ url_for('search', gene_name=gene.gene_name, species=gene.species) }}">{{ gene.gene_name }} ({{ gene.species }})</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% if loop.index % 3 == 0 %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}